<div class="dropdown" (clickOutside)="closeDropdown()">
  <span class="dropdown-toggle" (click)="toggleDropdown($event)">
    <div class="selected-item-wrapper">
      <span *ngIf="selectedItems.length == 0">{{ placeholder }}</span>
      <span class="selected-item" *ngFor="let item of selectedItems">
        <span>{{ item.value }}</span>
        <span class="removeSelection" (click)="onItemClick($event, item)">
          X
        </span>
      </span>
    </div>
    <span class="dropdown-arrow"></span>
  </span>
  <div class="dropdown-options" [hidden]="!isDropdownOpen">
    <ul class="dropdown-options-list">
      <li
        *ngFor="let item of _data; let i = index"
        (click)="onItemClick($event, item)"
        class="checkbox"
      >
        <ng-template #defaultTemplate>
          <input
            type="checkbox"
            [attr.aria-label]="item.value"
            [checked]="isSelected(item)"
          />
          <div>{{ item.value }}</div>
        </ng-template>

        <ng-container
          [ngTemplateOutlet]="optionTemplate || defaultTemplate"
          [ngTemplateOutletContext]="{ $implicit: option, index: i }"
        >
        </ng-container>
      </li>
    </ul>
  </div>
</div>
