<div class="dropdown" (clickOutside)="closeDropdown()">
  <span class="dropdown-toggle" (click)="toggleDropdown($event)">
    <div class="selected-item-wrapper">
      <span *ngIf="selectedOptions.length == 0">{{ placeholder }}</span>
      <span class="selected-item-list" *ngFor="let selected of selectedOptions">
        <span
          class="removeSelection"
          (click)="onOptionSelect($event, selected)"
        >
          x &nbsp;
        </span>
        <span class="selected-item">{{ selected.value }}</span>
      </span>
    </div>
    <span
      [ngClass]="
        !selectedOptions?.length ? 'dropdown-arrow' : 'dropdown-arrow-open'
      "
    ></span>
  </span>
  <div class="dropdown-options" [hidden]="!isOpen">
    <ul class="dropdown-options-list">
      <li
        *ngFor="let option of _options; let i = index"
        (click)="onOptionSelect($event, option)"
        class="option"
      >
        <ng-template #defaultTemplate>
          <input
            type="checkbox"
            [attr.aria-label]="option.value"
            [checked]="isSelected(option)"
          />
          <div>{{ option.value }}</div>
        </ng-template>

        <ng-container
          [ngTemplateOutlet]="optionTemplate || defaultTemplate"
          [ngTemplateOutletContext]="{ $implicit: option, index: i }"
        >
        </ng-container>
      </li>
    </ul>
  </div>
</div>
