<div style="margin-bottom: 20px">
  <div class="row">
    <div class="col-md-4">
      <h3>Select Multiple Test</h3>
      <form [formGroup]="myForm">
        <test
          [placeholder]="'Select Test'"
          [data]="values"
          formControlName="options"
          (onDropDownClose)="onDropDownClose()"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)"
        >
        </test>
      </form>
      <p></p>
    </div>
  </div>
</div>
